
.card-container{
    width: 270px;
    border-radius: 10px;
}
.img{
object-fit: cover;
width:270px;
overflow: hidden;
height:200px;
border-radius: 5px;
}
.product{
   border-radius: 10px; 
   width: 100%;
}
.city-name{
    font-size: 16px;
    font-weight: 800;
}
.text-container{
padding:7px;
display: flex;
flex-direction: column;
gap:5px;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
}
.rating span{
    font-size: 15px;
    margin-top:2px ;
}
.view{
    font-size: 12px;
    opacity:0.7;

}
.night{
    opacity:0.7;
}
.selected{
    color:red;
}
.rs{
    font-weight: 700;
    font-size: 20px;
}
.rs span{
font-size: 14px;
font-weight: 500;
}

.heart{
    top:20px;
    right:2px;
}
